.header {
	background: #fff;
}

.logo {
	width: 75px;
	height: 67px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 52px;
	margin-right: 57px;
}

.menuBar {
	position: fixed;
	top: 0px;
	background-color: #ffffff;
	width: 1440px;
}

.topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cdcccc;
	font-size: 17px;
	font-weight: 400;
}

.selectedMenu {
	color: #1dcf5c;
	margin-right: 47px;
	margin-top: 43px;
	margin-bottom: 44px;
	font-weight: 500;
	text-decoration: none;
}

.selectedMenu:hover {
	color: #1dcf5c;
}

.menuList {
	margin-right: 49px;
	margin-top: 43px;
	margin-bottom: 44px;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: black;
}

.menuList:hover {
	color: #1dcf5c;
}

.menuLists:hover {
	color: #1dcf5c;
}

.leftMenu {
	display: flex;
}

.rightMenu {
	justify-content: end;
	display: flex;
}

.cartIcon {
	width: 30px;
	height: 30px;
	align-self: center;
	margin-right: 7px;
}

.cartText {
	font-size: 16px;
}

.userIcon {
	width: 14px;
	height: 16px;
}

.userIconContainer {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.search-box {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	width: 43px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.search-box:hover {
	width: 200px;
	transition: 0.3s;
}

.search-box:hover > .search-txt {
	visibility: visible;
	width: 150px;
	transition: 0.3s;
}

.search-txt {
	visibility: hidden;
	border: none;
	background: transparent;
	outline: none;
	padding: 0px;
	color: black;
	font-size: 16px;
	float: left;
	width: 0px;
}

.bottomLeftMenu {
	display: flex;
	margin-left: 52px;
	font-size: 15px;
	font-weight: 400;
}

.bottomSelectedMenu {
	color: #1dcf5c;
	margin-right: 38px;
	font-weight: 500;
}

.bottomSelectedMenu:hover {
	color: #1dcf5c;
}

.bottomMenuList {
	margin-right: 38px;
}
.bottomMenuList:hover {
	color: #1dcf5c;
}

.bottomMenuLists {
	margin-right: 38px;
}
.bottomMenuLists:hover {
	color: #1dcf5c;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 5px;
}

.cartContainer {
	display: flex;
	margin-right: 32px;
	border: none;
	background-color: transparent;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 5px;
	margin-left: -305px;
}

.dropdown-content3 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 5px;
	padding: 8px;
	margin-left: -200px;
}

.show {
	display: block;
}

.show2 {
	display: block;
}

.show3 {
	display: block;
}

.dropbtn {
	background-color: white;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	cursor: pointer;
	margin-right: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #aaa;
}

.dropbtn2 {
	background-color: white;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	cursor: pointer;
	margin-right: 20px;
}

.dropbtn2:hover,
.dropbtn2:focus {
	background-color: #aaa;
}

.listNotif {
	margin: 8px;
	padding: 10px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.notifTitle {
	font-size: 18px;
	margin-top: -0px;
}

.notifSubtitle {
	font-size: 16px;
	margin-top: -10px;
	margin-bottom: -3px;
}

.cartImage {
	width: 75px;
	height: 75px;
	margin: 10px;
	align-self: center;
}

.cartHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading {
	font-size: 20px;
	font-weight: 700;
	color: #2f3841;
}

.Action {
	font-size: 14px;
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
	border-bottom: 1px solid #e44c4c;
}

.image-box {
	width: 15%;
	text-align: center;
}
.about {
	display: flex;
	flex: 1;
}
.title {
	font-size: 18px;
	font-weight: 800;
	color: #202020;
	margin-top: 8px;
}
.subtitle {
	line-height: 10px;
	font-size: 18px;
	font-weight: 600;
	color: #909090;
}

.counter {
	margin-left: 20px;
	display: flex;
	align-items: center;
}
.btn {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #202020;
	cursor: pointer;
	margin: 0px 10px;
}
.count {
	font-size: 20px;
	font-weight: 600;
	color: #202020;
}

.prices {
	margin: 0px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.amount {
	padding-top: 8px;
	font-size: 26px;
	font-weight: 800;
	color: #202020;
}
.save {
	padding-top: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove {
	margin: 10px 0px;
	font-size: 14px;
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
	text-align: right;
}

.pad {
	margin-top: 5px;
}

hr {
	width: 100%;
	float: right;
	margin-right: 5%;
}
.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 15px 0px 5px 0px;
}
.Subtotal {
	font-size: 22px;
	font-weight: 700;
	color: #202020;
}
.items {
	font-size: 16px;
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount {
	font-size: 36px;
	font-weight: 900;
	color: #202020;
}
.button {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: #1dcf5c;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	color: white;
}
.cartContainerList {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	margin: 5px 0px;
}

.categoryButton {
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
