body {
	background-color: #a9a9a9;
	font-family: "Rubik";
}

.container {
	width: 1440px;
	margin: auto;
}

.header {
	background: #fff;
}

.logo {
	width: 75px;
	height: 67px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 52px;
	margin-right: 57px;
}

.menuBar {
	position: fixed;
	top: 0px;
	background-color: #ffffff;
	width: 1440px;
}

.topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cdcccc;
	font-size: 17px;
	font-weight: 400;
}

.selectedMenu {
	color: #1dcf5c;
	margin-right: 47px;
	margin-top: 43px;
	margin-bottom: 44px;
	font-weight: 500;
}

.selectedMenu:hover {
	color: #1dcf5c;
}

.menuList {
	margin-right: 49px;
	margin-top: 43px;
	margin-bottom: 44px;
	background-color: transparent;
	border: none;
}

.menuList:hover {
	color: #1dcf5c;
}

.menuLists:hover {
	color: #1dcf5c;
}

.leftMenu {
	display: flex;
}

.rightMenu {
	justify-content: end;
	display: flex;
}

.cartIcon {
	width: 30px;
	height: 30px;
	align-self: center;
	margin-right: 7px;
}

.cartContainer {
	display: flex;
	margin-right: 32px;
}

.userIcon {
	width: 14px;
	height: 16px;
}

.userIconContainer {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.search-box {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	width: 43px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.search-box:hover {
	width: 200px;
	transition: 0.3s;
}

.search-box:hover > .search-txt {
	visibility: visible;
	width: 150px;
	transition: 0.3s;
}

.search-txt {
	visibility: hidden;
	border: none;
	background: transparent;
	outline: none;
	padding: 0px;
	color: black;
	font-size: 16px;
	float: left;
	width: 0px;
}

.bottomLeftMenu {
	display: flex;
	margin-left: 52px;
	font-size: 15px;
	font-weight: 400;
}

.bottomSelectedMenu {
	color: #1dcf5c;
	margin-right: 38px;
	font-weight: 500;
}

.bottomSelectedMenu:hover {
	color: #1dcf5c;
}

.bottomMenuList {
	margin-right: 38px;
}
.bottomMenuList:hover {
	color: #1dcf5c;
}

.bottomMenuLists {
	margin-right: 38px;
}
.bottomMenuLists:hover {
	color: #1dcf5c;
}

.leafIconContainer {
	display: flex;
	margin-right: 29px;
	padding-left: 10px;
	border-left: 1px solid #d3d3d3;
}

.bookIconContainer {
	display: flex;
	margin-right: 29px;
	padding-left: 10px;
}

.leafIcon {
	margin-right: 9px;
	width: 11px;
	height: 16px;
	align-self: center;
}

.sortContainer {
	display: flex;
}

.downIcon {
	width: 8px;
	height: 5px;
	align-self: center;
	margin-left: 14px;
	margin-right: 32px;
}

.mainContainer {
	margin-top: 150px;
	padding-top: 50px;
	background-color: white;
	padding: 52px;
	padding-bottom: 34px;
	font-weight: 400;
	margin-bottom: -10px;
}

.ListMenuContainer {
	display: flex;
	flex-wrap: wrap;
}

.listMenu {
	width: 310px;
	border: 1px solid #cdcccc;
	border-radius: 15px;
	background-color: white;
	margin-right: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: black;
}

.listMenu:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.listMenuImage {
	width: 310px;
	height: 180px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.starIcon {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

.listMenuContent {
	padding: 10px;
}

.listMenuTitle {
	margin-right: -5px;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	line-height: 25px;
	margin-top: 3px;
	margin-bottom: -8px;
}

.listMenuPrice {
	margin-right: -5px;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	line-height: 20px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.listMenuDesc {
	color: #7c7c7c;
}

/* .dropdown-content {
	display: flex;
	align-items: center;
	visibility: hidden;
	flex-direction: column;
	position: absolute;
	background-color: white;
	min-width: 100px;
	padding: 12px 16px;
	border: 1px solid #d3d3d3;
	z-index: 1;
	top: 48px;
}

.dropdown-menu {
	text-decoration: none;
	margin: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.dropdown:hover .dropdown-content {
	display: flex;
	visibility: visible;
}

.dropdown:hover{
	background-color: #aaa;
}

.dropdown-contents{
	display: flex;
	align-items: center;
	visibility: hidden;
	flex-direction: column;
	position: absolute;
	background-color: white;
	min-width: 300px;
	min-height: 300px;
	padding: 12px 16px;
	border: 1px solid #d3d3d3;
	border-radius: 20%;
	z-index: 1;
	top: 48px;
	right: 0px;
}

.dropdown:hover .dropdown-contents {
	display: flex;
	visibility: visible;
}

.dropdown-isi{
	text-decoration: none;
	margin: 0px;
} */

.num {
	position: absolute;
	top: -10px;
	right: -9px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #1dcf5c;
	color: #fff;
	line-height: 25px;
	font-family: sans-serif;
	text-align: center;
}

.dropbtn {
	background-color: white;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	cursor: pointer;
	margin-right: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #aaa;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
