body {
	background-color: #a9a9a9;
	font-family: "Rubik";
}

.container {
	width: 1440px;
	margin: auto;
}

.mainContainer {
	margin-top: 150px;
	padding-top: 50px;
	background-color: white;
	padding: 52px;
	padding-bottom: 34px;
	font-weight: 400;
	margin-bottom: -10px;
}

.ListMenuContainer {
	display: flex;
	flex-wrap: wrap;
}

.listMenu {
	width: 310px;
	border: 1px solid #cdcccc;
	border-radius: 15px;
	background-color: white;
	margin-right: 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: black;
}

.listMenu:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.listMenuImage {
	width: 310px;
	height: 180px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.starIcon {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

.listMenuContent {
	padding: 10px;
}

.listMenuTitle {
	margin-right: -5px;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	line-height: 25px;
	margin-top: 3px;
	margin-bottom: -8px;
}

.listMenuPrice {
	margin-right: -5px;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	line-height: 20px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.listMenuDesc {
	color: #7c7c7c;
}
